/* Global */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: AvenirNextCondensed-Bold;
    src: url(../font/Mada-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: AvenirNextCondensed-Regular;
    src: url(../font/Mada-Regular.ttf);
    font-weight: normal;
}

.AvenirBold {
    font-family: AvenirNextCondensed-Bold;
}

.AvenirRegular {
    font-family: AvenirNextCondensed-Regular;
}

/* Landing */
.bgQueSom { 
    /* The image used */
    background-image: url("../img/bitmap.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 3em;
    width: 100% !important;
    margin: 0 !important;
  }

.carQueSom {
    background-color: transparent !important;
    color: white;
    border: 0;
    width: 50%;
}

.cardTour{
    height: 400px;
    background-color: transparent;
    color: white;
    border: 0;
}

.cardTour .card-header,.card-body {
    border: 0;
} 

.cardTour .card-text {
    text-align: justify;
}

.cardStreaming{
    height: 400px;
    background-color: transparent;
    color: black;
    border: 0;
}

.cardStreaming .card-header,.card-body {
    border: 0;
} 

.cardStreaming .card-text {
    text-align: justify;
}

.carousel-item-uno .container {
    padding-left: 0%;
    padding-right: 0%;
}

.carousel-item-dos .container {
    padding-left: 0%;
    padding-right: 0%;
}

.func {
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    line-height: 150px;
}

.ali {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    line-height: 100px;
}

.conFunc {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.conAli {
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.conFunc .row .col-4 {
    text-align: center;
}

.conAli .row .col-2 {
    text-align: center;
}

.tituloNuestrasIglesias {
    line-height: 100px;
    text-align: center;
    width: 100%;
}

.btn-primary {
    /*width: 193px;*/  
    height: 48px;
    border-radius: 24px;
    background-color: #48958f;
    font-family: AvenirNextCondensed-Bold;
    color: #ffffff;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary:hover {
    background-color: #48958f;
    color: #000000;

}

.btn-secondary {
    /*width: 193px;*/  
    height: 48px;
    border-radius: 24px;
    background-color: #b60450;
    font-family: AvenirNextCondensed-Bold;
    color: #ffffff;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-secondary:hover {
    background-color: #b60450;
    color: #000000;

}

.carousel-item {
    text-align: center;
}

.accordion {
    width: 100%;
}

.alert {
    width: 100%;
    text-align: center;
}

.separador {
    background-color: #48958f;
    color: white;
    padding: 7px;
}

.list-group-item.active {
    background-color: #48958f !important; 
    border-color: #48958f !important; 
}

@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 900px;
    }
}

/* Footer */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background-color: #ededed !important;
    color: #a3a1a1;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#a3a1a1;
}
#footer a {
    color: #a3a1a1;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#a3a1a1;
}
#footer ul.social li a:hover{
	color:#a3a1a1;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}